.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

body {
   margin:  60px;
}

.title {
  color: white;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

h1 {
  color:  black;
      width: 92%;
    margin: 60px;
    margin-left: 45px;
    color: #2a2a2a;
    font-family: 'PostoniWide','Bodoni 72','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,Georgia,serif;
    font-size: 4rem;
    line-height: 1.05em;
    max-width: 1200px;
    align-text:  center;
    text-align: center;
}

.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  background-color: white;
  border: none 
  padding: 0.5rem 1rem;
  transition: 500ms;
  border-color:  white;
}

.center {
  color:  black;
      width: 92%;
    margin: 0 auto 16px;
    color: #2a2a2a;
    font-family: 'PostoniWide','Bodoni 72','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,Georgia,serif;
    font-size: 4.5rem;
    line-height: 1.05em;
    max-width: 1200px;
    align-text:  center;
    font-weight:  heavy;
}

.deck {
   align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:  1.25rem;
  margin-bottom:  40px;
  margin-top:  -20px;
}

.caption {
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

img {
   align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 98.5%;
  height:  50%;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}

header {
  align-items:  top;
  margin-top: -50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.firstcharacter {
    margin-bottom: 1.05em;
    margin-right: 0.375em;
    font-family: 'PostoniDisplay','Bodoni 72','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,Georgia,serif;
    font-weight: 800;
    font-size: 5rem;
    float: left;
    border-bottom: 16px solid #082759; 
    margin-bottom: 0.15em;
    padding-bottom: 10px;
    margin-top: 0.1em;
  padding-top:  -43.5em;
  } 

.ent-pullquote-text {
      font-family: 'PostoniDisplay','Bodoni 72','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,Georgia,serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.2em;
    margin-bottom: 10px;
    font-style:  bold;
    font-family: 'PostoniWide',serif;
    font-weight: bold;
    padding-top: 0.5em;
}

.ent-pullquote-square {
    background-color: #082759; 
    content: '';
    display: block;
    width: 5em;
    height: 16px;
    top: -1.1em;
    left: 0;
    webkit-box-sizing: border-box;
    moz box-sizing: border-box;
    box-sizing: border-box;
}

img {
  height:  50%;
}

a {
  color:  blue;
}
</style>

